

*{box-sizing: border-box;}

/* ====================================
Base Styles
==================================== */

body{
  font-family: 'Merriweather', serif;
  color: #384047;
}

form {
  max-width: 350px;
  margin: 0px auto;
  padding: 0px;
  background: white;
  border-radius: 8px;
}



h1 {
  text-transform: uppercase;
  background: #263340;
  color: white;
  padding: 1em 0;
  min-height: 3em;
  margin: 0;
  font-size: 1.5em;
}

h2,
legend{
  color: #263340;
  display: inline-block;
  font-size: 1.3em;
  font-weight: bold;
}

input,
legend{
margin-bottom: 15px;

}

p{
  margin-top: 0;
}


input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
  border-radius: 5px;
}

input[type="radio"],
input[type="checkbox"],
label.light {
  margin: 10px 0 0 10px;
  display: inline-block;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus
{
border: solid 2px #263340;
}

input::placeholder{
  text-align: right;
  font-style: italic;
  font-size: 0.8em;
  padding-right:10px;
}

textarea{
  border-radius: 5px;
  height: 10em;
}



button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #4bc970;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}

fieldset {
  border: none;
  padding: 0;
}


label {
  display: block;
  margin-bottom: 8px;
}

footer{
  text-align: center;
  font-style: italic;
  color: lightgrey;
  min-height: 3em;
  padding: 1.5em
}


/* ====================================
Styles
==================================== */

.form-header{
  text-align: center;
  border-bottom: solid 3px #263340;
  width: 100%;
  margin-bottom: 0.2em;
}

.contact-legend,
.newsletter-legend{
  padding-top: 1em;
  border-top: solid 1px #263340;
  width: 100%;
  margin-bottom: 1em;


}

#zip{
  width: 50%;
}

.news-type{
  display: inline-block;
  padding-bottom: 1em;
}

.news-format,
.text{
  padding: 1em 0;
}

/* ====================================
Media Queries
==================================== */

@media screen and (min-width: 769px) {

  form {
    min-width: 100%;
  }


}
