

*{box-sizing: border-box;}

/* ====================================
Base Styles
==================================== */

body{
  font-family: 'Merriweather', serif;
  color: #384047;
}

form {
  max-width: 700px;
  margin: 0px auto;
  padding: 0;
  background: white;
  border-radius: 8px;
}


h1 {
  text-transform: uppercase;
  background: #263340;
  color: white;
  padding: 1em 0;
  min-height: 3em;
  margin: 0;
  font-size: 1.5em;
}

h2,
legend{
  color: #263340;
  display: inline-block;
  font-size: 1.3em;
  font-weight: bold;
}


input{
margin-bottom: 15px;

}

legend{
  padding-top: 1em;
}

p{
  margin: 0;
}


input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #4B6B70;
  box-shadow: 0 2px 0 rgba(0,0,0,0.03) inset;
  border-radius: 5px;
}

input[type="radio"],
input[type="checkbox"],
label.light {
  margin: 10px 0 0 10px;
  display: inline-block;

  }

input[type="text"]:focus,
input[type="email"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="checkbox"]:focus
{
border: solid 2px #263340;
}

input,
textarea{
  transition: background-color .5s ease .1s;
}
input:focus,
textarea:focus {
  background-color: white;
}

input::placeholder{
  text-align: right;
  font-style: italic;
  font-size: 0.8em;
  padding-right:10px;
}



textarea{
  border-radius: 5px;
  height: 10em;
  margin-bottom: 0;
  margin-top: 1em;
}



button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #3C5772;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #263340;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom:  10px;
  margin-top: 1em;
  cursor: pointer;
}

button:hover {background-color: #264C73}


fieldset
{
  border: none;
  padding: 0;
  margin: 0;
  background: #EEF7FF;
}


label {
  display: block;
  margin-bottom: 8px;
}

footer{
  text-align: center;
  font-style: italic;
  color: lightgrey;
  min-height: 3em;
  padding: 1.5em;
  margin: 0;
}


/* ====================================
Styles
==================================== */

.form-header{
  text-align: center;
  width: 100%;

}

.header-text{
  margin: 0 0 1em 0;
  border-bottom: solid 3px #263340;
  margin-bottom: 0.2em;
  padding: 0 1em 1em;
}

.contact-legend{
  width: 100%;
  background: #EEF7FF;
  padding: 1em .7em;
  border-top: solid 1px #263340;
  }


#zip{
  max-width: 50%;
}

.news-type{
  display: inline-block;
  padding-bottom: 1em;
}


.button{
  background: #EEF7FF;
  padding: 0 0.7em 0.7em 1em;
}

.details,
.news-format{
  margin-bottom: 1.5em;
}


.newsletter-pref,
.user-details
{
  padding: 0 .7em;
}


/* ====================================
Media Queries
==================================== */

@media screen and (min-width: 768px) {

  form {
    min-width: 100%;
  }

main
  {
    padding: 0 .7em;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    box-shadow: 0 2px 0 rgba(0,0,0,0.03) inset;
  }

h2
{
  padding-top: 1em;
}

label{
  margin: 0;
}

textarea{
  margin-top: 1.5em;
}

  .header-text{
    max-width: 778px;
    margin: 0 auto;
    margin-bottom: 0.2em;
    padding-bottom: 2em;
  }



  .details{
    display: flex;
    align-items: center;
  }

  .user-details input,
  .user-details select{
    flex-basis: 70%;
    flex-grow: 1;
  }


  .user-details label{
    flex-basis: 25%;
  }



#zip{
  max-width: 25%;

}

.button{
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}


}
